#wrap {
  width: 100%; position: relative;
  #header {
    width: 100%; height: 80px; background: #fff; margin: 0 auto; display: flex; justify-content: center; align-items: center; border-bottom: 1px solid #EAEDEF; z-index: 3;
    &.on {
      position: fixed; top: 0; left: 0; z-index: 4; 
    }
    .row {
      width: 1256px; height: 36px; margin: 0 auto; display: flex; justify-content: space-between; align-items: center; font-size: 12px; padding: 10px 60px;
      .logo {
        a {
          display: block;
          img {width: 82px;}
        }
      }
      .nav {
        width: 373px; height: 54px; display: flex; position: relative; background-color: #fff;
        .container {
          width: 100%; height: 100%;
          > ul {
            display: flex; justify-content: center;
            > li {
              margin: 0 10px;
              &:nth-child(1) {width: 74px; padding: 3px 0 0 5px;}
              &:nth-child(2) {width: 58px; padding: 3px 0 0 5px;}
              &:nth-child(3) {width: 120px; padding: 3px 0 0 5px;}
              > a {
                display: flex; justify-content: center; align-items: center; width: 100%; height: 54px; font-size: 18px; font-weight: bold; 
                &.on {color: #35C5F0;}
                &:hover {color: #35C5F0;}
              }
              .sub1 {
                width: 1256px; height: 47px; position: absolute; top: 67px; left: -140px;  background-color: #fff;
                > ul {
                  width: 1256px; height: 47px; padding: 0 60px; display: flex;
                  > li {
                    padding: 8px 6px; margin: 0 5px; font-size: 13px; font-weight: bold; line-height: 30px;
                    &:nth-child(1) {width: 26px; height: 50px;}
                    &:nth-child(2) {width: 55px; height: 50px;}
                    &:nth-child(3) {width: 41px; height: 50px;}
                    &:nth-child(4) {width: 55px; height: 50px;}
                    &:nth-child(5) {width: 55px; height: 50px;}
                    &:nth-child(6) {width: 98px; height: 50px;}
                    &:nth-child(7) {width: 83px; height: 50px;}
                    &:nth-child(8) {width: 83px; height: 50px;}
                    &:nth-child(9) {width: 126px; height: 50px;}
                    &:nth-child(10) {width: 55px; height: 50px;}
                    > a {
                      font-size: 15px; 
                      &.home {color: #35C5F0;}
                      &:hover {color: #35C5F0;}
                      span {background-color: rgb(130, 140, 148); font-size: 10px; color: #fff; padding: 0 4px; display: inline-block; font-weight: 700; height: 16px; margin-left: 3px; vertical-align: middle; border-radius: 4px; line-height: 16px;}
                    }
                  }
                }
              }
              .sub2 {
                width: 1256px; height: 47px; position: absolute; top: 67px; left: -140px; display: none;  background-color: #fff;
                > ul {
                  width: 1256px; height: 47px; padding: 0 60px; display: flex;
                  > li {
                    padding: 8px 6px; margin: 0 5px; font-size: 13px; font-weight: bold; line-height: 30px;
                    &:nth-child(1) {width: 69px; height: 50px;}
                    &:nth-child(2) {width: 69px; height: 50px;}
                    &:nth-child(3) {width: 55px; height: 50px;}
                    &:nth-child(4) {width: 69px; height: 50px;}
                    &:nth-child(5) {width: 90px; height: 50px;} //
                    &:nth-child(6) {width: 80px; height: 50px;} // 
                    &:nth-child(7) {width: 69px; height: 50px;}
                    &:nth-child(8) {width: 90px; height: 50px;} //
                    &:nth-child(9) {width: 55px; height: 50px;}
                    > a {
                      font-size: 15px;
                      &.home {color: #35C5F0;}
                      &:hover {color: #35C5F0;}
                      span {background-color: rgb(255, 119, 119); font-weight: 700; color: #fff; font-size: 10px; height: 15px; border-radius: 15px; padding: 0 3px; display: inline-block; margin-left: 3px; vertical-align: middle; line-height: 14.5px;}
                    }
                  }
                }
              }
              .sub3 {
                width: 1256px; height: 47px; position: absolute; top: 67px; left: -140px; display: none;  background-color: #fff;
                > ul {
                  width: 1256px; height: 47px; padding: 0 60px; display: flex;
                  > li {
                    padding: 8px 6px; margin: 0 5px; font-size: 13px; font-weight: bold; line-height: 30px;
                    &:nth-child(1) {width: 26px; height: 50px;}
                    &:nth-child(2) {width: 98px; height: 50px;}
                    &:nth-child(3) {width: 40px; height: 50px;}
                    &:nth-child(4) {width: 70px; height: 50px;}
                    &:nth-child(5) {width: 112px; height: 50px;}
                    > a {
                      font-size: 15px;
                      &.home {color: #35C5F0;}
                      &:hover {color: #35C5F0;}
                    }
                  }
                }
              }
            }
          }
        }
      }
      hr {position: absolute; top: 175px; left: 0; border: 0; width: 100%; height: 0.5px; background: #EAEDEF;}
      .search-bar {
        width: 286px; height: 40px; position: relative; padding: 0 14px;
        a {
          display: flex; width: 30px; height: 100%; align-items: center; justify-content: center; position: absolute; top: 0; left: 22px; z-index: 2; border-radius: 50%;
          img {width: 18px; opacity: .4;}
        }
        input {
          width: 286px; height: 40px; border: 1px solid #bbb; border-radius: 5px; padding: 0 42px; 
          font-size: 14px; position: relative; z-index: 1;
          &::placeholder {color: #ddd; font-weight: 600;}
          &:focus {outline: 0;}
        }
      }
      .cart {
        width: 35px; height: 35px; margin: 0 0 0 32px;
        a {
          img {
            width: 28px; opacity: .65; margin: 3px 0 0 0;
          }
        }
      }
      .member {
        width: 218px; height: 40px; display: flex; justify-content: space-evenly; align-items: center; padding: 0 10px;
        a {font-size: 14px; padding: 0 5px;}
        i {font-size: 14px; color: #eee;}
      }
      button {
        width: 94px; height: 40px; background-color: #35C5F0; font-size: 15px; padding: 0 13px; color: #fff;
        border: 0; border-radius: 3px;
        &:hover {background-color: #23a8d0; cursor: pointer;}
        img {width: 14px; margin: -3px 0 0 7px;}
      }
    }

  }
}
